root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = false
spelling_languages = en-gb
spelling_checkable_types = strings, identifiers, comments
spelling_error_severity = warning
spelling_exclusion_path =
exclusion.dic

# Verify settings
[*.{received,verified}.{txt,xml,json}]
charset = "utf-8-bom"
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false
